package $package;

import static com.lordofthejars.nosqlunit.redis.RedisRule.RedisRuleBuilder.newRedisRule;
import static com.lordofthejars.nosqlunit.redis.ManagedRedis.ManagedRedisRuleBuilder.newManagedRedisRule;

import org.junit.ClassRule;
import org.junit.Rule;
import org.junit.Test;

import com.lordofthejars.nosqlunit.annotation.UsingDataSet;
import com.lordofthejars.nosqlunit.core.LoadStrategyEnum;
import com.lordofthejars.nosqlunit.redis.ManagedRedis;
import com.lordofthejars.nosqlunit.redis.RedisRule;

@UsingDataSet(locations="redis-initial-data.json", loadStrategy=LoadStrategyEnum.CLEAN_INSERT)
public class $classname {

	@ClassRule
	public static ManagedRedis managedRedis = newManagedRedisRule().redisPath("$path").build();

	@Rule
	public RedisRule redisRule = newRedisRule().defaultManagedRedis();
	
	#foreach( $method in $methods )
@Test
	public void $method () {
		
	}
	#end
	
}