package $package;

import static com.lordofthejars.nosqlunit.redis.RemoteRedisConfigurationBuilder.newRemoteRedisConfiguration;
import static com.lordofthejars.nosqlunit.redis.RedisRule.RedisRuleBuilder.newRedisRule;

import org.junit.Rule;
import org.junit.Test;

import com.lordofthejars.nosqlunit.annotation.UsingDataSet;
import com.lordofthejars.nosqlunit.core.LoadStrategyEnum;
import com.lordofthejars.nosqlunit.redis.RedisRule;

@UsingDataSet(locations="redis-initial-data.json", loadStrategy=LoadStrategyEnum.CLEAN_INSERT)
public class $classname {

	@Rule
	public RedisRule redisRule = newRedisRule().configure(newRemoteRedisConfiguration().host("$host")
						   .port($port)
						   .build()
						   )
					.build();
	
	#foreach( $method in $methods )
@Test
	public void $method () {
		
	}
	#end
	
}